In [4]:
a=pd.read_csv(r"C:\Users\HP\Downloads\ethnic_diversity_data.csv")

In [2]:
import pandas as pd

In [5]:
a

,Employee_Name,EmpID,Position,State,Zip,Sex,MaritalDesc,CitizenDesc,EmploymentStatus,Department,Salaries,age,Race
0,"Brown, Mia",1103024456,Accountant I,MA,1450,F,Married,US Citizen,Active,Admin Offices,674.28,28,Black or African American
1,"LaRotonda, William",1106026572,Accountant I,MA,1460,M,Divorced,US Citizen,Active,Admin Offices,674.28,50,Black or African American
2,"Steans, Tyrone",1302053333,Accountant I,MA,2703,M,Single,US Citizen,Active,Admin Offices,674.28,43,White
3,"Howard, Estelle",1211050782,Administrative Assistant,MA,2170,F,Married,US Citizen,Terminated for Cause,Admin Offices,47822.00,44,White
4,"Singh, Nan",1307059817,Administrative Assistant,MA,2330,F,Single,US Citizen,Active,Admin Offices,61089.35,33,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,"Daniele, Ann",1411071312,Sr. Network Engineer,CT,6033,F,Married,US Citizen,Leave of Absence,IT/IS,37619.01,38,White
306,"Lajiri, Jyoti",1108028108,Sr. Network Engineer,MA,2169,M,Married,US Citizen,Leave of Absence,IT/IS,27603.00,34,White
307,"Semizoglou, Jeremiah",904013591,Sr. Network Engineer,MA,1545,M,Married,US Citizen,Future Start,IT/IS,27587.46,24,Asian
308,"South, Joe",1308060959,Sr. Network Engineer,CT,6278,M,Single,US Citizen,Active,IT/IS,12126.53,31,White
309,"Warfield, Sarah",1301052347,Sr. Network Engineer,MA,2453,F,Widowed,US Citizen,Active,IT/IS,37257.00,46,Asian

In [6]:
#what is the minimum salary in dataset

In [22]:
a['Salaries'].min()

0.0

In [8]:
#1how many employers are their without marriage i.e. single

In [80]:
len(a['MaritalDesc']=='Single')

310

In [11]:
#2what is the average salary of employee

In [12]:
a['Salaries'].mean()

36670.10274193549

In [13]:
#3what are the different positions in dataset

In [29]:
a['Position'].unique()

array(['Accountant I', 'Administrative Assistant', 'Area Sales Manager',
       'BI Developer', 'BI Director', 'CIO', 'Data Architect',
       'Database Administrator', 'Data Analyst', 'Data Analyst ',
       'Director of Operations', 'Director of Sales', 'IT Director',
       'IT Manager - DB', 'IT Manager - Infra', 'IT Manager - Support',
       'IT Support', 'Network Engineer', 'President & CEO',
       'Production Manager', 'Production Technician I',
       'Production Technician II', 'Sales Manager', 'Senior BI Developer',
       'Shared Services Manager', 'Software Engineer',
       'Software Engineering Manager', 'Sr. Accountant', 'Sr. DBA',
       'Enterprise Architect', 'Principal Data Architect',
       'Sr. Network Engineer'], dtype=object)

In [16]:
#4Get all the details of employee who is getting highest salary?

In [34]:
b=a['Salaries'].max()

108304.0

In [17]:
#5Which 'Department' has more employees?

In [39]:
a['Department'].value_counts()

Production              208
IT/IS                    50
Sales                    31
Admin Offices            10
Software Engineering     10
Executive Office          1
Name: Department, dtype: int64

In [18]:
#6How many 'female' employees are working in the company?

In [36]:
len(a[a['Sex']=='F'])

177

In [19]:
#7Who are the 'emplDs' 'Non-Citizen' of US (.'Citizen Desc' column)

In [49]:
a.loc[(a['CitizenDesc']=='Non-Citizen'),['EmpID']]

          EmpID
165  1012023295
222  1405067501
271  1207046956
297  1102024057

In [20]:
#8What is the average salary of employees who are Asian (refer: 'Race' column)

In [58]:
b=(a[a['Race']=='Asian'])

In [59]:
b['Salaries'].mean()

40662.373235294115

In [74]:
a[a['Race']=='Asian']['Salaries'].mean()

40662.373235294115

In [21]:
#9Show all the employs who is not currently working in the company (check
#'Employmentstatus` column)?

In [78]:
a.loc[(a['EmploymentStatus']!='Active'),['Employee_Name']]

              Employee_Name
3           Howard, Estelle
5          Smith, Leigh Ann
6          Bunbury, Jessica
11          Gill, Whitney
13          Guilianno, Mike
..                      ...
303         Favis, Donald
304        Roehrich, Bianca
305          Daniele, Ann
306          Lajiri,  Jyoti
307  Semizoglou, Jeremiah

[128 rows x 1 columns]